.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 0 1.5rem;
    width: 100%;
    max-width: 600px;
}

.nav__menu_wrapper {
    font-weight: var(--font-weight-bold);
    color: var(--gray-500);
    display: flex;
    gap: 2rem;
}

.menu_desktop {
    display: none;
    align-items: center;
}

.menu_desktop ul {
    display: flex;
    gap: 2rem;
}

.nav__item {
    cursor: pointer;
    border: 0.15rem solid transparent;
}

.nav__item:hover {
    border-bottom: solid 0.15rem var(--gray-500);
}

.menu_mobile {
    cursor: pointer;
    width: 2rem;
}

.register_account_desktop {
    display: flex;
}

.register_account_buttons {
    display: none;
    gap: 1rem;
}

.register_account_buttons button {
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    color: var(--gray-500);
    padding-block: 0.5rem;
    border: solid 0.1rem transparent;
    border-radius: 1.5rem;
    padding-inline: 1rem;
    background-color: transparent;
}

.register_account_buttons button:hover {
    color: var(--white);
    background-color: var(--blue-400);
}

@media (min-width: 768px) {
    .header {
        max-width: none;
    }

    .menu_desktop {
        display: flex;
    }

    .register_account_buttons {
        display: flex;
    }

    .menu_mobile {
        display: none;
    }
}