.linkInput_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-block-end: 5rem;
    margin-inline: auto;
    background-color: var(--purple-950);
    overflow: hidden;
    width: 100%;
    max-width: 1620px;
}

.input_bg_decor {
    position: absolute;
    top: -5%;
    right: -10%;
}

.link_input,
.shortener_BTN {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid transparent 0.15rem;
    z-index: 1;
    width: 100%;
}

.shortener_BTN {
    font-weight: var(--font-weight-bold);
    color: var(--white);
    background-color: var(--blue-400);
}

.link_input {
    font-size: 1.125rem;
}

.link_input:focus {
    outline: teal 0.15rem solid;
}

.link_input::placeholder {
    color: var(--gray-500);
}

@media (min-width: 768px) {
    .linkInput_wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .shortener_BTN {
        max-width: 7rem;
    }
}

@media (min-width: 953px) {
    .linkInput_wrapper {
        gap: 1.5rem;
        padding-inline: clamp(2rem, 3.5vw, 5rem);
        padding-block: clamp(1.5rem, 3.5vw, 4rem);
    }

    .link_input {
        padding: 1rem 2rem;
    }

    .shortener_BTN {
        max-width: none;
    }

    .shortener_BTN {
        font-size: 1.125rem;
        width: 20%;
    }

    .input_bg_decor {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
    }
}