.linkInput_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--purple-950);
    overflow: hidden;
}

.input_bg_decor {
    position: absolute;
    top: -5%;
    right: -10%;
}

.link_input,
.shortener_BTN {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: solid transparent 0.15rem;
    z-index: 1;
}

.shortener_BTN {
    font-weight: var(--font-weight-bold);
    color: var(--white);
    background-color: var(--blue-400);
}

.link_input:focus {
    outline: teal 0.15rem solid;
}