.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lowerBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-inline: 1.5rem; 
    padding-block-end: 5rem;
    margin-block-start: 5rem;
    width: 100%;
    height: 170%;
    background-color: var(--main-bg);
}



/* Introduction */
.introduction {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 1.5rem; 
}

.illustration_img_wrapper {
    display: flex;
    flex: 1 1 12.5rem;
    margin-block: 1.5rem;
    width: 100%;
    height: max-content;
}

.illustration {
    max-width: 32rem;
}

.introduction__component {
    flex: 1 1 23.5625rem;
    max-width: 28.125rem;
}

.introduction__title {
    font-size:  clamp(2.5rem, 5.4vw, 5rem);
    color: var(--gray-950);
    line-height: 1.2;
}

.introduction__description {
    font-size: clamp(1.125rem, 2.2vw, 1.5rem);
    color: var(--gray-500);
}

.getStarted_BTN {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    padding-inline: clamp(1.75rem, 4vw, 2.25rem);
    padding-block: clamp(0.25rem, 4vw, 0.75rem);
    margin-block: clamp(1rem, 2vw, 2.5rem);
    width: max-content;
    background-color: var(--blue-400);
}
/* Introduction */



/* Additional Info */
.input_wrapper {
    width: 100%;
    max-width: 40rem;
}

.input_wrapper::before {
    position: absolute;
    left: 0%;
    display: block;
    content: " ";
    background-color: var(--white);
    width: 100%;
    height: 4.5rem;
}

.extraInfo {
    text-align: center;
    max-width: 26.5625rem;
}

.extraInfo__title {
    font-size: 1.65rem;
    color: var(--gray-950);
    margin-block: 1rem;
}

.extraInfo__description {
    color: var(--gray-500);
}

.additionalInfo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    margin-block-start: 5rem;
    max-width: 377px;
}

.additionalInfo__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 2rem 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--white);
}

.additionalInfo__img_container {
    position: absolute;
    top: -14%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    width: max-content;
    background-color: var(--purple-950);
}

.additionalInfo__img_container img {
    width: 2.5rem;
}

.additionalInfo__title {
    font-size: 1.35rem;
    color: var(--gray-950);
    margin-block: 1rem;
}

.additionalInfo__description {
    color: var(--gray-500);
    line-height: 1.75;
}

.connector_HR {
    position: absolute;
    width: 120%;
    height: 0.5rem;
    border: none;
    background-color: var(--blue-400);
    transform: rotate(90deg);
}
/* Additional Info */



/* Promotion */
.promotion_container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 2rem;
    padding-block: clamp(4rem, 6vw, 5rem);
    width: 100%;
    background-color: var(--purple-950);
    overflow: hidden;
}

.promotion {
    font-size: clamp(1rem, 6vw, 1.6rem);
    color: var(--white);
    padding-block-start: 1rem;
}

.promotion_BG {
    position: absolute;
    z-index: -1;
    top: 0%;
    right: 0%;
}
/* Promotion */



/* Overlay Menu */
.overlay_menu {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    color: var(--white);
    padding: 2.25rem 1.5rem;
    margin-inline: auto;
    margin-block: 5rem;
    border: none;
    border-radius: 0.75rem;
    width: 100%;
    background-color: var(--purple-950);
    text-align: center;
}

.menu_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav_item {
    width: 100%;
    border-radius: 1rem;
}

.nav_item:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

.nav_hr {
    width: 100%;
    margin-block: 2rem;
    border: none;
    border-top: solid 0.1rem var(--gray-500);
    background-color: none;
}

.register_account {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.register_account button {
    font-size: 1.125;
    color: var(--white);
    padding-block: 0.5rem;
    border: solid 0.1rem transparent;
    border-radius: 1.5rem;
    background-color: transparent;
}

.register_account button:hover {
    cursor: pointer;
    background-color: var(--blue-400);
}

.register_account button:focus {
    outline: transparent;
    background-color: var(--blue-400);
}

.close_icon {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 1rem;
}
/* Overlay Menu */



/* Media queries */
@media (min-width: 35.1875rem) {
    .illustration_img_wrapper {
        justify-content: center;
    }

    .input_wrapper::before {
        height: 4rem;
    }
}

@media (max-width: 375px) {
    .connector_HR {
        width: 150%;
    }
}

@media (min-width: 953px) {
    .body {
        align-items: center;
    }

    .introduction {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 4rem;
        padding-inline: clamp(2rem, 8vw, 10rem);
        width: 100%;
        max-width: 1920px;
    }

    .illustration_img_wrapper {
        max-width: 21rem;
    }

    .illustration {
        transform: translateX(2.5vw);
        max-width: none;
        width: clamp(32rem, 50vw, 50rem);
    }

    .introduction__component {
        text-align: start;
        max-width: 40rem
    }

    .input_wrapper {
        max-width: none;
    }

    .lowerBG {
        padding-inline: clamp(2rem, 8vw, 10rem);
    }
}