.body {
    width: 100%;
    padding-inline: 1.5rem;
}

.illustration_img_wrapper {
    position: relative;
    margin-block: 1.5rem;
    width: 100%;
    height: 22rem;
}

.illustration {
    position: absolute;
    max-width: 32rem;
}

.lowerBG {
    position: absolute;
    left: 0%;
    top: 105%;
    z-index: -1;
    width: 100%;
    height: 170vh;
    background-color: var(--main-bg);
}



/* Introduction */
.introduction {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.introduction__title {
    font-size: 2.5rem;
    color: var(--gray-950);
    line-height: 1.2;
}

.introduction__description {
    font-size: 1.125rem;
    color: var(--gray-500);
}

.getStarted_BTN {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 2.25rem;
    margin-block: 1rem;
    width: max-content;
    background-color: var(--blue-400);
}
/* Introduction */



/* Additional Info */
.extraInfo {
    text-align: center;
}

.extraInfo__title {
    font-size: 1.65rem;
    color: var(--gray-950);
    margin-block: 1rem;
}

.extraInfo__description {
    color: var(--gray-500);
}

.additionalInfo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    margin-block: 5rem;
}

.additionalInfo__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem 2rem 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--white);
}

.additionalInfo__img_container {
    position: absolute;
    top: -14%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    width: max-content;
    background-color: var(--purple-950);
}

.additionalInfo__img_container img {
    width: 2.5rem;
}

.additionalInfo__title {
    font-size: 1.35rem;
    color: var(--gray-950);
    margin-block: 1rem;
}

.additionalInfo__description {
    color: var(--gray-500);
    line-height: 1.75;
}

.connector_HR {
    position: absolute;
    width: 120%;
    height: 0.5rem;
    border: none;
    background-color: var(--blue-400);
    transform: rotate(90deg);
}
/* Additional Info */



/* Promotion */
.promotion_container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    width: 100%;
    background-color: var(--purple-950);
}

.promotion {
    font-size: 1.6rem;
    color: var(--white);
    padding-block-start: 1rem;
}

.promotion_BG {
    position: absolute;
    z-index: -1;
    top: 0%;
    right: 0%;
}
/* Promotion */