/*  BASIC CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "YourFont", system-ui, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*  FONT-FACE TEMPLATE */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v24-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); 
}

:root {
  /* Primary */
  --blue-400: hsl(180, 66%, 49%);
  --purple-950: hsl(257, 27%, 26%);

  /* Secondary */
  --red-400: hsl(0, 87%, 67%);

  /* Neutral */
  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 25%, 95%);

  /* TYPOGRAPHY */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}