.footer {
    width: 100%;
    background-color: var(--gray-950);
}

.footer_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 2rem;
     width: 100%;
}

.footer_container_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footerInfo_heading {
    font-weight: var(--font-weight-bold);
    color: var(--white);
    margin-block: 1rem;
}

.footerInfo_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerInfo_item {
    color: var(--gray-500);
}

.socials_container {
    display: flex;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .footer_container_wrapper {
        flex-direction: row;
        gap: 5rem;
    }
}

@media (min-width: 953px)  {
    .footer {
        padding-inline: clamp(2rem, 8vw, 10rem);
    }

    .footer_main {
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1620px;
        margin-inline: auto;
    }

    .footer_logo {
        align-self: flex-start;
        margin-block: 1rem;
    }

    .socials_container {
        align-self: flex-start;
        margin-block: 1rem;
    }
}