.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 2rem;
    width: 100%;
    background-color: var(--gray-950);
}

.footerInfo_heading {
    font-weight: var(--font-weight-bold);
    color: var(--white);
    margin-block: 1rem;
}

.footerInfo_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerInfo_item {
    color: var(--gray-500);
}

.socials_container {
    display: flex;
    gap: 1.5rem;
}